<div id="map"></div>



<link rel="stylesheet" href="./assets/css/maps.css">

<!-- Google Maps API -->
<script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBI0JkCmRsmKDi_N_SPzDdFfOUizXZdd-Q&callback=initMap"></script>

<script src="./assets/js/maps.js"><script>