<div class="container-fluid">
    <form>
        <div class="form-group col-md-3 mx-auto text-center">
            <label for="status">COVID-19 Status</label>
            <select class="form-control" id="status">
                <option>Infected</option>
                <option>Not Infected</option>
                <option>Previously Infected</option>
            </select>

            <label for="condition">Optional Filters!</label>
            <select class="form-control" id="condition">
                <option value="">Select a Filter</option>
                <option value="age">Age</option>
                <option value="gender">Gender</option>
                <option value="bloodType">Blood Type</option>
            </select>

            <select class="form-control" id="condition-value" readonly=""></select>
        </div>

    </form>

    <div id="map"></div>
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <button type="submit" class="btn btn-danger btn-submit col-md-3">Submit</button>
            </div>
        </div>
    </div>
    <link rel="stylesheet" href="./assets/css/maps.css">

    <input id="pac-input" class="controls" type="text" placeholder="Search Box" />
    <script src="./assets/js/maps.js"></script>

    <!-- Google Maps API -->
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBI0JkCmRsmKDi_N_SPzDdFfOUizXZdd-Q&callback=initMap&libraries=places"></script>
</div>